 <nav class="navbar">
    <div class="navbar__title">
      <a class="title" href="/">Who's Blog</a>
      <ul class="navbar__list">
        <li><a href="/">文章列表</a></li>
        <li><a href="#">關於我</a></li>
      </ul>
    </div>
    <div class="navbar__admin">
      <ul class="navbar__list">
      <% if(!username) { %>
        <li><a href="/login">登入</a></li>
      <% } else { %>
        <li class="username"><%= `你好 ${username}` %></li>
        <li><a href="/admin">管理後台</a></li>
         <li><a href="/comments">新增文章</a></li>
        <li><a href="/logout">登出</a></li>
      <% } %>
      </ul>
    </div>
  </nav>
