<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
    <%- include('./style.css') %>
  </style>
  <title>Who'sBlog</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('./template/navbar') %>
 <div class="login__wrapper">
   <h2>Log In</h2>
  <% if(errorMessage && errorMessage.length > 0) { %>
    <div class="error">
      <%= errorMessage %>
    </div>
   <% } %>
   <form class="login__form" method="POST" action="login">
     <div>USERNAME</div>
     <input class="username__input" name="username">
     <div>PASSWORD</div>
     <input class="password__input" type="password" name="password">
     <div class="form__btn">
       <input class="login__submit-btn" type="submit" value="LOGIN IN">
       <a class="register-btn" href="register">REGISTER</a>
     </div>
  </form>
</div>
</body>
</html>
