<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">

  <title>餐廳官網</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
<style>
  <%- include('../public/css/style.css')%>
</style>
</head>

<body>
  <%- include('template/navbar')%>
  <section class="game__banner">
  <img class="game__img" src="/images/games-bn.jpg">
    <div class="back">
      <div class="info">
        <div class="info__title">
          登入系統
        </div>
        <form class="login__form" method="POST" action="login">
        <% if(errorMessage && errorMessage.length > 0) { %>
          <div class="error">
            <%= errorMessage %>
          </div>
        <% } %>
          <div class="login__username">
            USERNAME
          </div>
          <input class="username__input" name="username">
          <div class="login__password">
            PASSWORD
          </div>
          <input class="password__input" type="password" name="password">
        <div class="form__btn">
          <input class="login__submit-btn" type="submit" value="LOGIN IN">
          <a class="register-btn" href="register">REGISTER</a>
        </div>
        </form>
      </div>
    </div>
  </section>
  <%- include('template/footer')%>
</body>
</html>

